<article class="listing">
  
    <img src="{{car.image}}" alt="">
  <h3>{{car.name}}</h3>
  <div class="detail type">
    <span>Tipo:</span>  {{car.type}}
  </div>
  <div class="detail city">
    <span>Ciudad:</span> {{car.city}}
  </div>
</article>
