<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sobre Nosotros</h2>
  <p>
    Sitio para listar autos.
  </p>
  {{#link-to 'contact' class="button"}}
    Compra Ahora!
  {{/link-to}}
</div>

{{outlet}}