<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Bienvenido!</h2>
  <p>
    Esperamos que encuentres lo que estas buscando.
    <br>Revisa nuestra lista de autos.
  </p>
  {{#link-to 'about' class="button"}}
    Sobre Nosotros
  {{/link-to}}
</div>
{{#each model as |car|}}
	{{cars-listing car=car}}
{{/each}}
{{outlet}}
