<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contáctanos</h2>
  <p>Cars estará complacido en ayudarte!.<br>Llámanos o escríbenos y realiza la preguntas que desees.</p>
  <p>
    Cars HQ
    <address>
      Universidad de Antioquia<br>
      Medellín
    </address>
    <a href="tel:57.3000099944">(57) 300-0099944</a><br>
    <a href="mailto:service@cars.com">service@cars.com</a>
  </p>
</div>
{{outlet}}